body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.hero-unit {
  background-color: transparent;
  text-align: center;
}

.hero-unit > h1 {
  font-weight: 300;
}

.versions tr, .versions td, .versions th {
  text-align: center;
}

.versions tbody tr td:first-child {
  font-size: 18px;
  font-weight: 300;
}

.versions .table-actions a {
  float: right;
  margin-left: 10px;
}

footer {
  font-size: 90%;
}